* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
  margin: 5px;
  padding-top: 15px;
  padding-left: 125px;
  /* background-color: #c6d583; */
  display: flex;
  justify-content: space-between;
  height: 68px;
  box-shadow: 1px 1px 4px 0px #d6d6d6;
  /* Here: 1. horizontal 2.vertical 3.blur 4.spread  5. color*/
}

.nav-logo {
  /* background-color: #f26f6f; */
  height: 19px;
  object-fit: contain;
}

/* If image cannot select using class then use img tag directly */
img {
  height: 85%;
}

ul {
  list-style: none;
  width: 45%;
  /* background-color: #dccccc; */
  display: flex;
  justify-content: space-around;
}

ul a {
  text-decoration: none;
  color: rgb(49, 48, 48);
}

.main-img {
  height: 360px;
}

.content {
  height: 500px;
  /* background-color: #72c6b0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: center; */
}

.main-img {
  padding-top: 78px;
}

h1 {
  font-size: 40px;
  padding-left: 47px;
}
p {
  padding-top: 10px;
}

button {
  margin-left: 170px;
  margin-top: 15px;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.849);
  background-color: #387ed1;
  border: 1px solid rgb(55, 54, 54);
}

button:hover {
  background-color: rgb(115, 115, 241);
}
